# Editors
.vs/
.idea/

# .NET
/backend/**/bin/
/backend/**/obj/

# Node
/frontend/**/node_modules/
/frontend/**/dist/
/frontend/**/routeTree.gen.ts
/frontend/**/.tanstack/

# Environmental variables
.env*
!.env.placeholder