@import "tailwindcss";

@layer base {
  html, body, #root {
    @apply h-full w-full;
  }

  body {
    @apply antialiased;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  * {
    @apply transition-colors duration-200 ease-in-out;
    @apply select-none;
    @apply box-border;
  }
}
